# Firebase Configurations
EXPO_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key_here
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain_here
EXPO_PUBLIC_FIREBASE_DATABASE_URL=https://your_project.firebaseio.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your_firebase_project_id
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
EXPO_PUBLIC_FIREBASE_APP_ID=your_firebase_app_id

# Twilio Voice Configurations (For Real Calling to non-registered phone numbers)
EXPO_PUBLIC_TWILIO_ACCOUNT_SID=AC252d22111713884ab70ff3f73e98ae1a
EXPO_PUBLIC_TWILIO_AUTH_TOKEN=dc7912ecfaaa55e42cc3e4635c9df941
EXPO_PUBLIC_TWILIO_PHONE_NUMBER=+17432564020

# LiveKit Configurations (For actual WebRTC free local in-app calls and live streaming)
EXPO_PUBLIC_LIVEKIT_URL=wss://elenty-app-snitjybw.livekit.cloud
EXPO_PUBLIC_LIVEKIT_API_KEY=APIKwZf2zB4CT4S
EXPO_PUBLIC_LIVEKIT_API_SECRET=mgMOIaC7El9e0tOBCe75jfjHfjNeWZQ2IYxPZ9duGAQB